* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient-background: linear-gradient(120deg, #ff8709 0%, #f7bdf8 90%);
    --petrol: #0F1C2E;
    --azul-gris: #2C3E52;
    --orange: #ff8709;
    --crema: #F4EDE2;
}


body {
    font-family: "Poppins", sans-serif;
    background: var(--orange);
    background: var(--gradient-background);
    color: var(--crema);
    line-height: 1.6;
    /* overflow-x: hidden; */
    text-align: center;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 80vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.hero button {
    padding: 10px;
    background:none;
    color: var(--crema);
    border: solid 1px var(--crema);
    border-radius: 50px;
}

.formas-geometricas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Detrás del contenido */
    pointer-events: none;
}

.forma {
    position: absolute;
    width: 70px;
}

#forma-1 {
    top: 60%;
    left: 10%;
}

#forma-2 {
    top: 50%;
    right: 10%;
}

#forma-3 {
    top: 15%;
    left: 20%
}

#forma-4 {
    top: 30%;
    right: 20%
}

.services {
    padding: 100px 0px 100px 40px;
    background: var(--petrol);
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    gap: 40px;
}

.cards-grid {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;  

}

.card {
    padding: 22px; 
    background-color: var(--azul-gris);
    border-radius: 20px;
    border-image: var(--gradient-background) 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
    align-items: center;
}

.imagen-card {
    max-width: 90%;
    overflow: hidden;
    border-radius: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.imagen-card img {
    height: 350px;
    object-fit: cover; /* Recorta manteniendo proporción */
    object-position: center center; /* Centra imagen */
}

.cta-section {
    height: 100vh;
}