* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient-background: linear-gradient(120deg,#5d02c2 0%, #ff8709 50%, #f22996 90%);
    --petrol: #0F1C2E;
    --azul-gris: linear-gradient(120deg,#3c205c 0%, #1f2d3c 50%, #132236 90%);
    --violet: #5d02c2;
    --pink: #f22996;
    --orange: #ff8709;
    --crema: #F4EDE2;
}

/* * {
    outline: solid red 1px;
} */

body {
    font-family: "Poppins", sans-serif;
    background: var(--pink);
    background: var(--gradient-background);
    color: var(--crema);
    line-height: 1.6;
    /* overflow-x: hidden; */
    text-align: center;
    
}

.hero {
    position: relative;
    overflow: hidden;
    height: 80vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.hero button {
    padding: 10px;
    background:none;
    color: var(--crema);
    border: solid 1px var(--crema);
    border-radius: 50px;
    cursor: pointer;
}

.formas-geometricas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás del contenido */
    pointer-events: none;
}

.forma {
    position: absolute;
    width: 70px;
}

#forma-1 {
    top: 60%;
    left: 10%;
}

#forma-2 {
    top: 50%;
    right: 10%;
}

#forma-3 {
    top: 15%;
    left: 20%
}

#forma-4 {
    top: 30%;
    right: 20%
}

.services {
    padding: 100px  20px;
    background: var(--petrol);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    gap: 40px;
}

.cards-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    padding: 22px; 
    background: var(--petrol);
    background: var(--azul-gris);
    border-radius: 20px;
    border-image: var(--gradient-background) 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 250px;
    align-items: center;
}

.imagen-card {
    max-width: 90%;
    overflow: hidden;
    border-radius: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.imagen-card img {
    height: 250px;
    width: 200px;
    object-fit: cover; /* Recorta manteniendo proporción */
    object-position: center center; /* Centra imagen */
}

.cta-section {
    background: var(--petrol);

}

.cta-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cta-button {
    padding: 10px;
    background: var(--pink);
    border: dashed 2px var(--orange);
    border-radius: 10px;
    color: var(--crema);
    cursor: pointer;
}

.footer {
    background: var(--petrol);
    padding: 20px;
}

